<h3>Video Setup Elements for Video Overlayer</h3><br>
  <p>Video Version: <input type="text" ng-model="schoolyear"><br>
  Video SubVersion: <input type="text" ng-model="secondarycust"><br>
  CustomElement1: <input type="text" ng-model="firstName"><br>
  CustomElement2: <input type="text" ng-model="gradYear"><br>
  CustomElement3(optional): <input type="text" ng-model="interest1-"><br>
  CustomElement4(optional): <input type="text" ng-model="interest2"><br>
  CustomElement5(optional): <input type="text" ng-model="interest3-"><br>
  ----<br>
  BaseVideo: <input type="text" ng-model="BaseVideo"><br>
  VideoCust1(optional): <input type="text" ng-model="VideoCust1"><br>
  VideoCust2(optional): <input type="text" ng-model="VideoCust2"><br>
  VideoCust3(optional): <input type="text" ng-model="VideoCust3"><br>
  VideoCust4(optional): <input type="text" ng-model="VideoCust4"><br>
  VideoCust5(optional): <input type="text" ng-model="VideoCust5"><br>
  VideoCust6(optional): <input type="text" ng-model="VideoCust6"><br>
  BaseVideoMusic: <input type="text" ng-model="BaseMusic"><br>
  ----<br>
  StaticText1: <input type="text" ng-model="StaticText1"><br>
  StaticText2: <input type="text" ng-model="StaticText2"><br>
  StaticText3: <input type="text" ng-model="StaticText3"><br>
  StaticText4: <input type="text" ng-model="StaticText4"><br>
  StaticText5: <input type="text" ng-model="StaticText5"><br>
  StaticText6: <input type="text" ng-model="StaticText6"><br>
  StaticText7: <input type="text" ng-model="StaticText7"><br>
  StaticText8: <input type="text" ng-model="StaticText8"><br>
  StaticText9: <input type="text" ng-model="StaticText9"><br>
  StaticText10: <input type="text" ng-model="StaticText10"><br>
  ----<br>
  output directory name: <input type="text" ng-model="outputDir"><br>
  
</p>
